NVIDIA_API_KEY=your_nvidia_api_key_here
API_KEY=internal_key
REDIS_URL=redis://localhost:6379
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/swiftchat
PORT_CAPTION=8001
PORT_EMOTION=8002
PORT_SEARCH=8003
PORT_CHAT=8004
PORT_MODERATION=8005
